<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= if content_for?(:title) then yield(:title) + ' | ' else '' end %>Ecolidium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Contacts', contacts_path %>
    <%= link_to 'Services', services_path %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    Footer
  </footer>
</html>
